<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/fontawesom.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>Chat App</h1>
            </div>
        </nav>
    </header>
<div class="content_parent">
    <h1>Work Station B</h1>
    <div class="success-alert">  </div>
<div class="port_parent">
    <input type="text" calss="url_input" id="url_input" placeholder="Enter url ">
    <input type="text" calss="port" id="portInput" placeholder="Enter port No">
    <button  id="listenButton" class="listen_button my-button">Listen</button>
</div>    

    <div class="container">

        <div class="chat-container" id="chatContainer">
            <div></div>

        </div>
        <div class="input-container">
            <input type="text" id="messageInput" placeholder="Type a message...">
            <button id="sendButton"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>




    <script src="socket.js"></script>
    <script src="fontawesome.js"></script>
    <script src="/work_station_b.js"></script>
</body>

</html>